@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Poppins", "san-serif";
  font-optical-sizing: auto;
  font-style: normal;
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.form-input {
  @apply w-full text-sm text-black outline-none bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500;
}
